[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "~=2.30.0"
pyfiglet = "==0.8.post1"
styleframe = "~=4.1"
pandas = "~=1.5.3"
# pandera = "~=0.16.1"
# selenium = "~=4.9.0"
# webdriver-manager = "~=3.8.6"
# selenium-requests = "~=2.0.3"
rootutils = "~=1.0.7"
jsonargparse = {extras = ["signatures"], version = "~=4.23.1"}

[dev-packages]
pytest = "*"
mypy = "*"
autopep8 = "*"
pandas-stubs = "*"
pre-commit = "*"
